[Unit]
Description = Cart Service
[Service]
User=roboshop
Environment=REDIS_HOST=redis-dev.nareshlive.lab
Environment=CATALOGUE_HOST=catalogue-dev.nareshlive.lab
ExecStart=/bin/node /app/server.js
SyslogIdentifier=cart

[Install]
WantedBy=multi-user.target